@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navegacion {
    position: fixed;
    z-index: 1;
    background-color: #0F0F0F;
    margin: 0 auto;
    width: 100%;
    height: 56px;
    display: grid;
    grid-template-columns: 166.05px auto 175px;
    align-items: center;
    grid-template-areas: "logo busqueda iconos";

}

@media only screen and (max-width: 600px) 
{
    .navegacion{
        grid-template-columns: 166.05px auto 230px ;
    }
}





.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    cursor: pointer;
}

 .logo .logoo{
    color: #eee7e7;
}

.logo .b-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    margin: 0px 20px 0px 20px ;
    padding: 3px;
    border-color: #eee7e7;
    background-color: #0F0F0F;
    color: #eee7e7;



}

.busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;

}

.busqueda input {
    min-width: 60%;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    background-color: #121212;
    border: 1px solid #3d3d3d;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 40px 0px 0px 40px;

}

/* Extra small devices (phones, 600px and down) */ @media only screen and (max-width: 600px) 
{
    .busqueda{
        display: none;
    }
} 

.busqueda button{
    height: 42px;
    border: 1px solid;
    border-color: #3d3d3d;
    border-left: none;
    color: #f1f1f1;
    background: #272727;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 0px 45px 45px 0px;
    margin: 0px 8px 0px 0px;
}

.busqueda .microfono{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0px 0px 0px 10px ;
    padding: 7px;
    border-color: #272727;
}

.iconos{
    grid-area: iconos;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 25px;
    margin: 0px 15px ;

}

@media only screen and (max-width: 600px) 
{
    .iconos{
        gap: 10px;
        margin: 0px 15px 0px 0px;
    }
}

.iconos .b-iconos{
  background-color: #0F0F0F;
  border: none;
  width: 50;
  height: 50;
  border-radius: 80%;
  color: #eee7e7;
}

.b-iconosres{
    display: none;
    background-color: #0F0F0F;
    border: none;
  height: 50;
  border-radius: 80%;
  color: #eee7e7;
  cursor: pointer;
}

@media only screen and (max-width: 600px) 
{ .b-iconosres{
    display: flex;
    background-color: #0F0F0F;
    border: none;
    height: 50;
    border-radius: 80%;
    color: #eee7e7;}
}




.iconos .perfil{

    border-radius: 80%;
    margin: 0px  0px 0px;
}

/*MENU LATERAL*/


.menu-lateral{
    
    width: 70px;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0F0F0F;
    gap: 20px;
    place-items: center;
    top: 56px;
    
   
   
}


/* Extra small devices (phones, 600px and down) */ @media only screen and (max-width: 600px) 
{
 .menu-lateral{
    display: none;
 }
} 


.boton-menu{
   
    
    
    width: 24x;
    height: 24px;
    background-color: #0F0F0F;
    padding: 0px;
    text-align: center;
   margin: 16px ;
   text-decoration: #eee7e7;
   cursor: pointer;
     
}
.boton-menu svg{
    color: #eee7e7;
    background-color: #0F0F0F;
   
   
}

.text{
    color: #eee7e7;
    font-size: 10px;
    margin: 5px 0px;
}

/* categorias*/

.categorias{

    background-color: #0F0F0F;
    position: fixed;
    z-index: 3;
    top: 56px;
    left: 59px;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px 20px;
    width: 100%;
    
    
}

/* Extra small devices (phones, 600px and down) */ @media only screen and (max-width: 600px) {

    .categorias {
      left:0px;
    }
} 

.botones{
    color: #eee7e7;
    background-color: #272727;
    border: none;
    border-radius: 9px;
    padding: 8px;
    margin: 5px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

.botones1{
    color: #272727;
    background-color: #eee7e7;
    border: none;
    border-radius: 9px;
    padding: 8px;
    margin: 5px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

/*MURO VIDEOS*/

.muro-videos{

    position: relative;
    z-index: -1;
    display: grid;
    top: 110px;
    left: 56px;
    width: 197vh;
    height: 100;
    background-color: #0F0F0F;
}

@media only screen and (max-width: 600px) {
 .muro-videos{
    left: 0px;
    
 }
}


.videos{

    display: flex;
    gap: 25px;
    margin: 20px 10px 13px 30px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .videos{
        display: grid;
    }
}


    
.video{
width: 352px;
height: 197px;
border-radius: 10px;
cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .video{
        width: 520px;
        height: 293px;
    }
}

.cont-video{

    display: grid;
    width: 352px;
    cursor: pointer;
}

.info-video{
    padding: 8px 0px;
    display: flex;
    gap: 10px;
    color: #eee7e7;
}

.info-video2{
    display: grid;
}

.perfil-creador{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}


